.clients-inner {
  width: 100%;
  padding: 40px;
  @include flex(center, center, column);
  gap: 20px;
}

.clients-header {
  text-align: center;
  width: 100%;
  h2 {
    font-size: 40px;
  }
}

.clients-body {
  @include flex(center, center, row);
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.clients-img {
  height: 200px;
  width: 200px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

// tablet
@media screen and (max-width: 768px) {
  .clients-inner {
    padding: 40px 20px;
  }
}

// mobile
@media screen and (max-width: 480px) {
  .clients-inner {
    padding: 40px 10px;
  }
  .clients-header {
    h2 {
      font-size: 38px;
    }
    p {
      font-size: 14px;
    }
  }
}
