.topbar {
  background: $secondary;
}

.topbar-inner {
  width: 100%;
  padding: 0px 40px;
  @include flex(center, space-between, row);
  font-size: 14px;
}

.topbar-contacts {
  @include flex(center, center, row);
  gap: 24px;
  a {
    color: $text-color;
    text-decoration: none;
    i {
      margin-right: 5px;
      color: $primary;
    }
  }
}

.topbar-links {
  @include flex(center, center, row);
  a {
    @include flex(center, center, row);
    color: $primary;
    text-decoration: none;
    width: 38px;
    height: 38px;
    &:not(:last-child) {
      border-right: 1px solid $text-color;
    }
  }
}

.nav-inner {
  width: 100%;
  padding: 10px 40px;
  @include flex(center, space-between, row);
  font-size: 16px;
}

.nav {
  width: 100%;
  background: #fff;
  transition: 0.3s all ease;

  top: -90px;
}

.nav-scrolled {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0px;
  z-index: 30;
  transition: 0.3s all ease;
}

.nav-logo {
  font-size: 32px;
  color: $primary;
  text-decoration: none;
  font-weight: bold;
  @include flex(center, center, row);
  font-family: 'Oswald', sans-serif !important;
  img {
    height: 70px;
  }
}

.nav-links {
  width: 50%;
  list-style: none;
  @include flex(center, space-between, row);
}

.nav-link {
  text-decoration: none;
  color: $text-color;
  font-weight: bold;
  transition: 0.3s all ease;
  cursor: pointer;
  &:hover {
    color: $primary;
    transition: 0.3s all ease;
  }
  &.active {
    color: $primary;
    transition: 0.3s all ease;
  }
  i {
    transform: scale(0.8);
    transition: 0.3s all ease;
  }
}

.dropdown-btn {
  position: relative;
  padding: 10px 0px;
  &:hover {
    .nav-link {
      color: $primary;
      i {
        transform: scale(0.8) rotateX(-180deg);
        transition: 0.3s all ease;
      }
    }
    .dropdown {
      top: 35px;
      opacity: 1;
      z-index: 30;
      transition: 0.3s all ease;
      pointer-events: all;
    }
  }
}

.dropdown {
  position: absolute;
  top: 20px;
  // right: 0px;
  // left: 0px;
  padding: 15px;

  @include flex(flex-start, center, column);
  gap: 20px;
  z-index: -1;
  background: #fff;
  width: fit-content;
  border-radius: 6px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: 0.3s all ease;
  pointer-events: none;
}

.service-link {
  text-decoration: none;
  color: $text-color;
  transition: 0.3s all ease;
  width: 100%;
  font-weight: bold;
  &:hover {
    color: $primary;
    transition: 0.3s all eases;
  }
}

.lang {
  position: relative;
  padding: 10px 0px;
  &:hover {
    .active-lang {
      i {
        transform: scale(0.8) rotateX(-180deg);
        transition: 0.3s all ease;
      }
    }
    .lang-dropdown {
      top: 35px;
      opacity: 1;
      transition: 0.3s all ease;
      pointer-events: all;
    }
  }
  .active-lang {
    color: $primary;
    font-weight: bold;
    @include flex(center, center, row);
    gap: 5px;
    cursor: pointer;
    i {
      transform: scale(0.8) rotateX(0deg);
      transition: 0.3s all ease;
    }
  }
  .lang-dropdown {
    position: absolute;
    top: 15px;
    left: -8px;
    opacity: 0;
    background: #fff;
    z-index: 6;
    @include flex(center, center, column);
    gap: 10px;
    padding: 10px 15px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s all ease;
    pointer-events: none;
    a {
      color: $text-color;
      text-decoration: none;
      font-weight: bold;
      transition: 0.3s all ease;
      &:hover {
        color: $primary;
        transition: 0.3s all ease;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .nav-links {
    width: 65%;
  }
}

// tablet
@media screen and (max-width: 768px) {
  .topbar {
    display: none;
  }
  .nav-links {
    display: none;
  }
  .nav-inner {
    padding: 10px 20px;
  }
}

// mobile
@media screen and (max-width: 480px) {
  .nav-inner {
    padding: 10px;
  }
  .nav-logo {
    img {
      height: 60px;
    }
  }
}
